<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/static/style.css"/>
  <title>Job Matcher</title>
</head>
<body>
<header style="display:flex; justify-content: flex-end; padding: 10px;">
  <a href="/login" id="btn-login">Войти</a>
</header>

<h1>Job Matcher</h1>

<section id="resumes-section">
  <h2>Резюме</h2>
  <ul id="resume-list"></ul>
  <form id="resume-form">
    <input id="res-full_name" placeholder="ФИО" required/><br/>
    <input id="res-phone_number" placeholder="Телефон"/><br/>
    <input id="res-mail" type="email" placeholder="Email"/><br/>
    <div class="input-with-symbol">
      <input id="res-salary" type="number" min="0" placeholder="Желаемая зарплата"/>
      <span class="ruble">₽</span>
    </div>

    <textarea id="res-text" placeholder="Текст резюме" required></textarea><br/>
    <button>Добавить резюме</button>
  </form>
</section>

<script src="/static/app.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        if (TOKEN) {
        }
        loadResumes();
    });
</script>
</body>
</html>
